.input {
  background: white;
  border-radius: 21px;
  border: 0px;
  font-size: 12px;
  text-indent: 15px;
  text-align: inherit;
  max-width: 100%;
}
.vtex-button__label {
  padding: 0 !important;
}
.input {
  border-radius: 0px !important;
  max-width: 100% !important;
  width: 100% !important;
  text-align: left;
}
.input::placeholder {
  color: black;
  text-align: left;
}
.hideDecorators {
  width: auto;
  max-width: 25px;
}
.hideDecorators {
  height: 2.1rem;
  margin: auto;
  border-radius: 6px !important;
}
.input::placeholder {
  font-weight: 400;
  color: rgb(209, 209, 209);
  font-size: 12px;
}
.input {
  padding: 0;
}
.hideDecorators:last-child {
  height: 36px !important;
  border-radius: 3px !important;
}

@media (max-width: 600px) {
  .input {
    padding: 0;
  }
  .input::placeholder {
    font-weight: 400;
    color: rgb(209, 209, 209);
    font-size: 12px;
  }
  .hideDecorators:last-child {
    width: 265px !important;
  }
}

.dropdown :global(.vtex-dropdown__label) {
  font-family: 'Klavika-light';
}
